.*
!.gitignore
*.viewport
*.pyc
*.npy
*.xacro
*.pdf
*.png
*.swp
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.gv
*.blend
*.blend1
build/
data/videos/
data/benchmarks/
data/samples/
data/robots/sr_grasp_description/
data/robots/atlas/
data/robots/kuka_shadowhand/
data/experiments/11D_planar_snake_0_*
/cmake-build-debug/
cmake-build-debug
libs/